<div class="container-fluid">
<h1>View all offers<h1>

<p class="col-md-12">Name of item: <%= @trade.title %></p>
<p class="col-md-12">Item Description: <%= @trade.description %></p>
<span class="col-md-12"><%= image_tag @trade.image.url%></span>


</div>