<h1>Created Trades</h1>
<div class="container-fluid">
<ul class="view-trades col-md-6">
	<% @trades.each do |trade| %>
		<li class="">Name: <%= trade.title %></li>
		<li class=""><%= image_tag trade.image.url, height: 200, width: 200 %>
		<p><%= link_to 'View trade', trade_path(trade) %></p></li>
	<% end %>
</ul>

<%#= link_to 'New Trade', new_trade_path, class: 'btn btn-success btn-large' %>

</div>